<div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);">
  <div class="container">
    <h1>Pense Bêtes</h1>
    <h2>Un pense-bête pas si bête ! </h2><br><br><br>
    <p><strong>Mettez à dispotion</strong> ou <strong>empruntez un animal</strong> pour effectuer des tâches ou activités à <strong> moindre coût </strong>tout en étant <strong>écolo </strong>! <br>
    Un mouton pour tondre votre gazon ? Un cheval pour se balader ? Un canard pour faire du foie gras ? </p> <br>
    <br>
  </div>

 <br><br>
 <div class="container">
   <div class="form-wrapper " >
   <!--  <h4>Dates : </h4> -->
     <%= simple_form_for :search, method: :get do |t| %>
      <%= t.input :du, as: :string, input_html: {id: "start_date"} %> <br>
      <%= t.input :au, as: :string, input_html: {id: "end_date"} %> <br>
     <!--  <%= t.submit "Go", class: "btn btn-home" %> -->
      <%= link_to "Voir la liste", animals_path, class: "btn btn-home" %>
      <% end %>
   </div>
 </div>
 <br><br>

