<div class="animals-index banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1535907309959-db0f3e78aa54?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container d-flex flex-column align-items-end justify-content-end">
    <h1>Pense Bêtes</h1>
    <p>Un pense bête pas si bête</p>
  </div>
</div>

<br>

<div class="container">
  <div class="form-inline " >
       <!--  <h4>Dates : </h4> -->
        <%= form_tag animals_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control text-center",
            placeholder: "Entrez le nom de l'animal"%>
            <%= submit_tag "Voir la liste", class: "btn btn-home" %>
        <% end %>
      </div><br><br>

  <div class="cards">
    <% @animals.each do |animal| %>
     <div class="card-category"
         style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
         url('<%= cl_image_path animal.photo, height: 300, width: 400,  gravity: :face %>')">
        <h3 alt="animal.race"> <%= link_to animal.name , animal_path(animal) %> </h3>
      </div>
    <% end %>
  </div>

</div>

